<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">

  <title>Lomas Verdes - Distrito Tecnológico</title>
  <meta name="description" content="Sitio web del primer distrito tecnológico en El Salvador">
  <meta name="author" content="Hackerspace San Salvador">
  
  <script src="./js/jquery.js"></script>
  <script src="./js/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>Participantes</h1>
    <ul>
      <li v-for="company in business">
        <strong>{{ company.name }}</strong> [ <span v-for="social in company.social_networks"> <a :href="social.handler">{{ social.name }}</a>&nbsp;</span> ]
      </li>
    </ul>
  </div>
  <script>
var app = new Vue({
  el: '#app',
  data: { business: null },
  created: function () {
    var _this = this;
    $.getJSON('./api/business.json', function (json) {
        _this.business = json.business;
    });
  }
});
  </script>
</body>
</html>
